/* site.css */
header, foooter {
    background-color: lightgrey;
    border: solid 1px black;
/*    font-family: 'Times New Roman', Times, serif; */
}

footer {
    padding: 10px;
    border-radius: 3px;
}

body {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
